@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

    #msgarea::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: rgba(0, 0, 0, 0);
    }
    
    #msgarea::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
    }
    
    #msgarea::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 2px;
    }

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(28,13,103,1) 0%, rgba(14,33,79,1) 61%, rgba(51,12,107,1) 82%, rgb(11, 68, 104) 99%, rgb(67, 182, 153)100%);
}

.nav{
    position: absolute;
    right: 5%;
    top: 20px;
}
.navlink{
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(113, 43, 204, 0.5);
    padding: 8px 15px;
    border-radius: 3px;
}
.navlink:hover{
    background-color: rgba(0, 255, 255, 0.5);
}

#msg{
    position: absolute;
    width: calc(100% - 300px);
    height: calc(100% - 68px);
    left: 300px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
#msgarea1{
    margin-top: 100px;
    height: 90%;
    width: 98%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
#msgarea{
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    height: 97%;
    width: 100%;
    top: 0;
    left: 0;
}

.sentmsg{
    position: relative;
    margin-left: 15%;
    width: 83%;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 4px;
    padding: 8px;
    color: white;
    margin-top: 10px;
    z-index: 4;
    backdrop-filter: blur(5px);
}
.receivedmsg{
    z-index: 4;
    position: relative;
    width: 83%;
    margin-right: 15%;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 4px;
    padding: 8px;
    color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 2.4%;
    backdrop-filter: blur(5px);
}
.msgheader{
    font-size: 15px;
    margin-bottom: 8px;
    border-bottom: #fff solid 1px;
    width:40%;
}

#headline{
    position: relative;
    z-index: 3;
    width: 100%;
    background: linear-gradient(180deg, rgba(28,13,103,0.5) 0%, rgba(48,52,120,0.5) 46%, rgba(95, 114, 184, 0.3) 85%, rgba(126,207,185,0.3) 97%, rgba(150,255,205,0.2) 100%);
}
#logo{
    font-size: 34px;
    color: white;
    text-shadow: 1px 1px 3px white;
    padding: 10px;
}


#chatfiller{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgba(100, 100, 230, 0.26);
    z-index: 3;
}

.selfinfodiv{
    backdrop-filter: blur(20px);
    background-color: rgba(0, 153, 255, 0.1);
    position: absolute;
    bottom: 0;
}

.chatsdiv{
    position: relative;
    z-index: 4;
    width: 260px;
    padding: 15px 10px 15px 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.chatsdiv:hover{
    background-color: rgba(90, 90, 90, 0.24);
}
.chatname{
    margin-left: 20px;
    padding-top: 10px;
}
.imageAndStatus{
    position: relative;
    height: 50px;
    width: 55px;
    border-radius: 20px;
}
.userpic{
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 90%;
    border-radius: 30px;
    z-index: 4;
}
.smolimg{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    z-index: 4;
}

.notif{
    position: relative;
    margin: 10px 25px;
}
.notif svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}
.notif span{
    color: white;
    position: absolute;
    z-index: 7;
    left: 7px;
    top: 0;
}

#info3{
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    z-index: 8;
}

.online-yes{
    border-left: 4px solid lime;
    box-shadow: 4px 5px 10px lime;
}
.online-no{
    border-left: 4px solid grey;
    box-shadow: 4px 5px 10px grey;
}

#msgtext{
    border: 1px solid white;
    border-radius: 3px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width: calc(98% - 295px);
    margin-left: 2%;
}
#sender{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: none;
    cursor:pointer;
    outline-style: none;
    box-shadow: 0 4px rgba(255, 255, 255, 0.5);
}#sender:hover{
    background-color: rgba(119, 0, 255, 0.301);
}
#sender:active{
    background-color: rgba(119, 0, 255, 0.301);
    box-shadow: 0 0px rgba(255, 255, 255, 0.5);
    transform: translateY(4px);
}


#chatsouter{
    z-index: 3;
    margin-top: 2px;
    padding: 0px;
    position: absolute;
    left: 0;
    height: calc(100% - 68px);
    width: 300px;
    background: linear-gradient(90deg, rgba(39,23,84,0.2) 0%, rgba(86,120,135,0.2) 74%, rgba(108,167,159,0.2) 87%, rgba(150,157,255,0.2) 100%);
    overflow-y: auto;
}

#meteors{
    position: absolute;
    top: 1%;
    right: 15%;
    z-index: 3;
    opacity: 40%;
}
#diamond{
    position: absolute;
    bottom: 2%;
    left: 0;
    z-index: 3;
    opacity: 40%;
}
#messager{
    position: absolute;
    top: 5px;
    left: 15px; 
    width: 40%;
    background-color: rgba(160, 72, 243, 0.3);
    padding: 3px 3px 3px 2px;
    border-radius: 3px;
    backdrop-filter: blur(5px);
}
#srchmsgr{
    border-radius: 2px;
    border: 1px solid white;
    box-shadow: 1px 1px 3px white;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
    padding: 5px;
    width: calc(100% - 13px);
}
#srchresult{
    color: white;
    font-size: 18px;
}#srchresult div{
    padding: 10px;
}#srchresult div:hover{
    background-color: rgba(0,0,0,0.3);
}

#srchresult span{
    margin: 10px 40px;
}



/* Extras */

#graddiv{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#conic{
    opacity: 30%;
    position: absolute;
    transform: translateX(-20%);
    z-index: 0;
    width: 150%;
    height: 150%;
    background: conic-gradient(from 90deg at 50% 50%, rgba(246, 143, 255, 0.12), rgba(0, 255, 174, 0.48), rgba(246, 143, 255, 0.65), rgba(246, 143, 255, 0.08), rgba(246, 143, 255, 0.68), rgba(31, 158, 255, 0), rgba(31, 158, 255, 0.61), rgba(31, 158, 255, 0));
    transform-origin: 30% 50% ;
    transform: scale(2);
    animation-name: rotter;
    animation-duration: 200s;
    animation-iteration-count: infinite;
}

@keyframes rotter {
    0%{
        transform: rotate(0deg) scale(2) translateX(-20%);
    }
    100%{
        transform: rotate(360deg) scale(2) translateX(-20%);
    }
}

#blurrify{
    opacity: 70%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(circle at 50% 50%,rgba(58, 97, 252, 0.3), rgba(0, 0, 0, 0.68), rgba(0,0,0,1), rgba(0, 0, 0, 1));
}


/* index.HTML Styles */

#flogin{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 70px);
    width: 100vw;
    color: white;
    z-index: 3;
    
}
#innerdiv{
    width: 450px;
    display: flex;
    flex-direction: column;
}#innerdiv input{
    border: 1px solid white;
    box-shadow: 1px 1px 3px white;
    background-color: rgba(61, 0, 102, 0.5);
    padding: 7px 10px;
    font-size: 27px;
    margin-bottom: 50px;
    color: white;
    border-radius: 3px;
}#blogin, #bsignup{
    margin-top: 30px;
    font-size: 25px;
    padding: 5px 10px;
    outline: none;
    border: none;
    align-self: center;
    width: 150px;
    color: #fff;
    background: linear-gradient(155deg, rgb(53, 33, 110) 0%, rgb(90, 97, 189) 100%);
    border-radius: 2px;
    cursor: pointer;
}
#blogin:hover, #bsignup:hover{
    background: rgba(0, 255, 255, 0.26);
}

#signup{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 70px);
    width: 100vw;
    color: white;
    z-index: 3;
}

#innerdiv2{
    display: flex;
    flex-direction: column;
}

#innerdiv2 .labels{
    font-size: 25px;
    margin-bottom: 10px;
}

#innerdiv2 input{
    border: 1px solid white;
    box-shadow: 1px 1px 3px white;
    background-color: rgba(61, 0, 102, 0.5);
    padding: 4px 10px;
    font-size: 20px;
    margin-bottom: 25px;
    color: white;
    border-radius: 3px;
}

.heading1{
    font-size: 55px;
    font-weight: 600;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.6);
    margin-bottom: 60px;
}
.labels{
    font-size: 35px;
    margin-bottom: 20px;
}
#chatinfo{
    position: absolute;
    right: 0;
    top: 0;
    width: 0px;
    background-color: rgba(0, 255, 255, 0.315);
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileInfo{
    color: rgb(122, 170, 209);
    font-size: 18px;
    padding-left: 30px;
}

#imagediv{
    position: relative;
    height: 200px;
    width: 200px;
    margin-bottom: 25px;
    border-radius: 100px;
    margin-left: 30px;
}
#imagediv2{
    position: relative;
    height: 200px;
    width: 200px;
    margin-bottom: 25px;
}

#profilePicture1, .profilePicture, #profilePicture2{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    box-shadow: 2px 2px 20px rgba(0, 255, 136, 0.8);
}

#changePhoto2{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: radial-gradient(circle, rgba(39,23,84,0) 0%, rgba(0,0,0,0.44861694677871145) 48%, rgba(0,0,0,0.7567401960784313) 100%);
    display: none;
    border-radius: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}#imagediv3:hover #changePhoto2{
    display: flex;
}

.about-div{
    margin-top: 10px;
    color: turquoise;
    font-size: 14px;
    padding-right: 10px;
}

.change-about{
    background-color: rgba(0, 0, 0, 0);
    color: turquoise;
    border: none;
    width: 85%;
    cursor: pointer;
}

.change-about::placeholder{
    color: turquoise;
    opacity: 1;
}

#info1, #info2{
    padding-left: 10px;
}

#info1{
    position: absolute;
    bottom: 100px;
    width: 280px;
    z-index: 6;
    backdrop-filter: blur(20px);
}

#infodiv{
    position: absolute;
    bottom: 0;
}

#changePhoto{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: radial-gradient(circle, rgba(39,23,84,0) 0%, rgba(0,0,0,0.44861694677871145) 48%, rgba(0,0,0,0.7567401960784313) 100%);
    display: none;
    border-radius: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}#imagediv:hover #changePhoto{
    display: flex;
}
#imgupload, #imgupload2{
    display: none;
}
.changer{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 80%;
}
.changer:hover .rectinner{
    fill: rgba(0, 0, 100, 0.8);
}
.uploadFinal{
    padding: 5px;
    font-size: 15px;
    background-color: rgb(25, 0, 255);
    color: white;
}
.uploadFinal:hover{
    background-color: rgba(0, 0, 0, 0.5);
}


/* responsiveness */

@media screen and (max-width: 1100px){
    #chatsouter{
        width: 300px;
    }
    #chatsdiv{
        width: 100%;
    }
    #msg{
        left: 300px;
        width: calc(100% - 300px);
    }
    #messager{
        width: 80%;
    }
    #srchresult span{
        margin: 10px;
    }
    #imagediv2{
        width: 150px;
        height: 150px;
    }
    #chatinfo{
        width: 170px;
    }
    #messager{
        width: 60%;
    }
    #msgarea1{
        width:calc(98% - 170px)
    }
    #msgtext{
        width:calc(98% - 244px)
    }
}

@media screen and (max-height: 850px){
    #chatsouter{
        width: 300px;
    }
    #chatsdiv{
        width: 100%;
    }
    #msg{
        left: 300px;
        width: calc(100% - 300px);
    }
    #messager{
        width: 80%;
    }
    #srchresult span{
        margin: 10px;
    }
    #imagediv, #imagediv2{
        width: 150px;
        height: 150px;
    }
    #chatinfo{
        width: 170px;
    }
    #messager{
        width: 60%;
    }
    #msgarea1{
        width:calc(98% - 170px)
    }
    #msgtext{
        width:calc(98% - 244px)
    }
    #imagediv2{
        margin-top: 20px;
    }
}

@media screen and (max-width: 900px){
    #chatinfo{
        display: none;
    }
    #messager{
        width: 60%;
    }
    #msgarea1{
        width: 98%;
    }
    #msgtext{
        width: calc(98% - 75px);
    }
} 

@media screen and (max-width: 650px) {
    
    #innerdiv input, .labels, .heading1{
        width: 80%;
        margin-left: 5%;
    }
    #chatsouter{
        z-index: 5;
        transform: translateX(-300px);
        transition-duration: 500ms;
    }
    #chatfiller{
        background-color: rgba(100, 100, 230, 0.7);
        backdrop-filter: blur(10px);
    }
    #msg{
        left: 0;
        width: 100%;
    }
    #srchmsgr{
        font-size: 15px;
        padding: 3px;
        width: calc(100% - 6px);
    }
    #messager{
        padding: 1px;
    }
    #srchresult{
        font-size: 14px;
    }
    #msgtext{
        font-size: 16px;
        padding: 4px;
    }
    #sender{
        padding: 3px 5px;
    }
    .heading1{
        font-size: 40px;
    }
    #innerdiv1,#innerdiv2 .labels{
        font-size: 20px;
    }
    .navlink{
        font-size: 15px;
        padding: 5px;
    }
}

#loadercircle{
    opacity: 70%;
    animation: loadrotate 500ms ease-out 0ms infinite;
}
@keyframes loadrotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}